*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50.5%;
  transform: translate(-49.5%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.head img {
  flex: 1;
  width: 400px;
  height: auto;
}
.head .headtop {
  margin-top: -41%;
  z-index: -1;
  transform-origin: 22%;
  transform: translateX(-1.59px);
}
.head img:last-child {
  margin-top: -41%;
  z-index: -2;
}

.head-open {
  animation: headopen 3s forwards;
}

@keyframes headopen {
  0%, 100% {
    transform: translateX(-1.59px);
  }
  50% {
    transform: translate(-16.3%, 2%) rotate(-45deg);
  }
}
[class*="joke"] {
  display: none;
  position: absolute;
  top: 90.8%;
  left: 28.5%;
  transform: translateY(-19.2%);
  color: black;
  padding: 22px 0 22px 30px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
  border: 3px solid black;
  overflow: hidden;
  z-index: -100;
  width: 47%;
  text-align: center;
  background-repeat: repeat;
  background-image: url(../img/dotted-line2.png);
  background-size: 100px 40px;
  background-color: white;
  text-transform: uppercase;
}

@keyframes golfclub {
  0% {
    transform: rotate(195deg);
  }
  50% {
    transform: rotate(-40deg);
  }
}
@keyframes golfball {
  0% {
    transform: scale(0.01);
  }
  100% {
    transform: translateX(-40%);
  }
  90% {
    transform: scale(10);
    opacity: 1;
  }
  95% {
    transform: translate(-1000%);
  }
  100% {
    opacity: 0;
  }
}
.golf {
  position: absolute;
}
.golf .golfclub {
  margin-left: 50%;
  margin-top: 20%;
  transform: rotate(-40deg);
  animation: golfclub 3s;
}
.golf .golfball {
  margin-left: 30%;
  margin-top: -15%;
  transform: scale(0.05);
  animation: golfball 2s 1.3s forwards;
}

@keyframes dance {
  0% {
    height: 200px;
    width: 300px;
  }
  100% {
    height: 210px;
    width: 330px;
  }
}
.hamburger {
  height: 200px;
  width: 300px;
  animation: dance 1s infinite 1s alternate ease-in-out;
  position: absolute;
  top: 72.8%;
  left: 50%;
  transform: translate(-50%, -27.2%);
  z-index: 1000;
}

.top-bun {
  position: absolute;
  left: 35%;
  height: 40px;
  width: 30%;
  top: 25%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background: #f7b243;
  z-index: 100;
}

.fillings {
  position: relative;
  left: 35%;
  height: 20%;
  width: 30%;
  top: 30%;
}

.bottom-bun {
  position: absolute;
  left: 35%;
  height: 27px;
  width: 30%;
  bottom: 20%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: #f7b243;
}

.tomato {
  position: absolute;
  bottom: -20%;
  height: 23%;
  width: 110%;
  left: -5%;
  background: #ff5233;
  border-radius: 50px;
}

.lettuce {
  position: absolute;
  width: 100%;
  height: 15%;
  background: #63AF44;
  bottom: -35%;
}

.meat {
  position: absolute;
  height: 33%;
  width: 110%;
  left: -5%;
  bottom: -63%;
  background: #663E2F;
  border-radius: 50px;
}

.cheese {
  position: absolute;
  width: 100%;
  height: 8%;
  background: #F5DF3B;
  bottom: -36%;
  z-index: 2;
  border-radius: 50px;
}

.cheese-triangle {
  -webkit-clip-path: polygon(71% 0, 0% 100%, 100% 100%);
  clip-path: polygon(71% 0, 0% 100%, 100% 100%);
  position: absolute;
  bottom: -100%;
  height: 290%;
  width: 20%;
  right: 0%;
  transform: rotate(37deg);
  background: #F5DF3B;
  border-radius: 5px;
}

.meat-overlay {
  position: absolute;
  width: 100%;
  height: 45%;
  background: #795446;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  top: 0%;
}

.meat-circle-1 {
  position: absolute;
  height: 75%;
  top: 5%;
  width: 35%;
  background: #795446;
  border-radius: 50%;
  left: 2%;
}

.meat-circle-2 {
  position: absolute;
  height: 75%;
  top: 5%;
  width: 30%;
  background: #795446;
  border-radius: 50%;
  left: 35%;
}

.meat-circle-3 {
  position: absolute;
  height: 73%;
  top: 5%;
  width: 35%;
  background: #795446;
  border-radius: 50%;
  left: 65%;
}

[class*="seed"] {
  position: absolute;
  height: 8%;
  width: 8%;
  background: white;
  border-radius: 45%;
  opacity: 0.3;
  transform: rotate(10deg);
}

.seed-1 {
  top: 25%;
  right: 25%;
}

.seed-2 {
  top: 45%;
  right: 35%;
  transform: rotate(30deg);
}

.seed-3 {
  top: 25%;
  right: 45%;
  z-index: 9000;
  transition: top 1s cubic-bezier(1, 0.45, 0.56, 1.12);
}

.seed-4 {
  top: 75%;
  right: 23%;
  transform: rotate(25deg);
}

.seed-5 {
  top: 60%;
  right: 10%;
  transition: top 1s cubic-bezier(1, 0.45, 0.56, 1.12);
}

.seed-6 {
  top: 25%;
  left: 25%;
  transform: rotate(20deg);
}

.seed-7 {
  top: 45%;
  left: 35%;
}

.seed-8 {
  top: 75%;
  left: 25%;
  transition: top 1s cubic-bezier(1, 0.45, 0.56, 1.12);
}

.seed-9 {
  top: 60%;
  left: 10%;
  transform: rotate(35deg);
}

.seed-10 {
  top: 60%;
  left: 50%;
}

.unclickable {
  animation: none;
  position: absolute;
  pointer-events: none;
}
.unclickable .top-bun {
  height: 30px;
  width: 100px;
  top: 35%;
  left: 33%;
}
.unclickable .fillings {
  height: 15%;
  width: 35%;
  top: 37%;
  left: 32.5%;
}
.unclickable .fillings .cheese-triangle {
  bottom: -250%;
  height: 500%;
  width: 30%;
  right: -5%;
  transform: rotate(27deg);
  border-radius: 5px;
}
.unclickable .bottom-bun {
  height: 22px;
  width: 100px;
  left: 33%;
  top: 62.9%;
}

@keyframes roll-animation {
  0% {
    left: 50%;
    top: 25%;
    transform: translate(-50%, -75%) rotate(45deg);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  15% {
    left: 70%;
    top: 15%;
    transform: translate(-30%, -85%) rotate(90deg);
  }
  30% {
    left: 90%;
    top: 30%;
    transform: translate(-10%, -70%) rotate(125deg);
  }
  90% {
    left: 20%;
    top: 89%;
    transform: translate(-80%, -21%) rotate(-450deg);
  }
  95% {
    left: 24%;
    top: 87%;
    transform: translate(-76%, -23%) rotate(-405deg);
  }
  100% {
    left: 28%;
    top: 89%;
    transform: translate(-72%, -21%);
    opacity: 1;
  }
}
.roll-img {
  width: 100px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -80%) rotate(45deg);
  z-index: -3;
  opacity: 0;
}

.tp-activate {
  animation: roll-animation 4s ease-out 1 forwards;
  z-index: 100;
}

#catContain {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translateX(-50%);
  animation: move 5s;
}
#catContain #catHead {
  width: 220px;
  height: 220px;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  top: 10%;
  background: -webkit-radial-gradient(white, #D08C4B, white);
  /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, #D08C4B, white);
  /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, #D08C4B, white);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, #D08C4B, white);
  /* Standard syntax */
}
#catContain .ear {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 60px solid #5E523B;
  border-radius: 10px;
  position: absolute;
  top: -10px;
}
#catContain #ear1 {
  left: -10%;
  transform: rotate(-40deg);
}
#catContain #ear2 {
  left: 64%;
  transform: rotate(40deg);
  border-bottom: 60px solid black;
}
#catContain .eye {
  width: 70px;
  height: 60px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 100%;
  position: absolute;
  top: 60px;
  background: -webkit-radial-gradient(white, white, gray);
  /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, white, gray);
  /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, white, gray);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, white, gray);
  /* Standard syntax */
}
#catContain #catEye1 {
  left: 30px;
}
#catContain .pupil {
  border-radius: 100px;
  width: 0;
  height: 20px;
  border-left: .1px solid black;
  border-right: .1px solid black;
  position: absolute;
  top: 20px;
  left: 30px;
}
#catContain #catEye2 {
  right: 30px;
}
#catContain #nose {
  width: 0;
  height: 0;
  border-top: 30px solid pink;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-radius: 10px;
  position: absolute;
  top: 150px;
  left: 85px;
  color: black;
}
#catContain .nostril {
  position: absolute;
  border-radius: 100px;
  border-top: 2px solid #F92886;
  width: 10px;
  height: 10px;
  top: -20px;
}
#catContain #nostril1 {
  left: -15px;
  transform: rotate(45deg);
}
#catContain #nostril2 {
  left: 5px;
  transform: rotate(-45deg);
}
#catContain #mouth {
  width: 50px;
  height: 20px;
  position: absolute;
  background-color: white;
  border-radius: 100px;
  top: 187px;
  left: 70px;
}
#catContain #vomit {
  width: 45px;
  height: 10px;
  position: absolute;
  top: 175px;
  left: 72.5px;
  z-index: -1;
  background: -webkit-linear-gradient(#15a436, #94F1A9);
  /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#15a436, #94F1A9);
  /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(#15a436, #94F1A9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#15a436, #94F1A9);
  /* Standard syntax */
  transition: all 2s;
  animation: puke 1s 1.5s alternate 2;
  border-radius: 5px;
}

@keyframes move {
  0%, 100% {
    left: 40%;
    top: -60%;
    transform: translate(-60%, 40%);
  }
  30%, 70% {
    left: 40%;
    top: 40%;
    transform: translate(-60%, -60%);
  }
}
@keyframes puke {
  0% {
    height: 20px;
    z-index: 2;
    top: 190px;
  }
  100% {
    height: 500px;
    z-index: 2;
    top: 190px;
  }
}
.pepperContain {
  position: absolute;
  top: 0%;
  left: 0%;
}

.pepper {
  transition: all 4s;
  animation: flex 2s ease-out infinite;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 280px;
  position: absolute;
  top: 150px;
  left: 80px;
  -webkit-border-radius: 50% / 20% 20% 80% 80%;
  border-radius: 50% / 20% 20% 80% 80%;
  background: -webkit-linear-gradient(left, #B2C17E, #4e7211);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #B2C17E, #4e7211);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #B2C17E, #4e7211);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #B2C17E, #4e7211);
  /* Standard syntax */
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

.stem {
  background-color: -webkit-linear-gradient(left, black, green);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black, green);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, black, green);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, black, green);
  /* Standard syntax */
  border-top-right-radius: 100px;
  border-radius: 100% / 10 0% 10% 10% 10%;
  width: 15px;
  height: 140px;
  position: absolute;
  top: -125px;
  left: 72px;
}

.base {
  width: 80px;
  height: 15px;
  transform: rotate(180deg);
  border-radius: 100% / 10% 10% 50% 50%;
  background: linear-gradient(to right, black, green);
  /* Standard syntax */
  position: absolute;
  left: 35px;
}

@keyframes flex {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes mouth {
  0% {
    height: 10px;
  }
  100% {
    height: 50px;
  }
}
@keyframes clawr {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes clawl {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes eye {
  0% {
    transform: rotate(60deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(80deg);
  }
  20%, 40%, 60%, 80% {
    transform: rotate(27deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes leftlegs {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
@keyframes rightlegs {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}
@keyframes crawl {
  0% {
    left: 0px;
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
    left: 180%;
  }
}
.crabs {
  position: absolute;
  top: 0;
  width: 400px;
  z-index: -100;
}
.crabs .crab {
  top: 275px;
  background: tomato;
  background: -webkit-linear-gradient(tomato, orange);
  background: -o-linear-gradient(tomato, orange);
  background: -moz-linear-gradient(tomato, orange);
  background: linear-gradient(tomato, orange);
  position: relative;
  width: 200px;
  height: 100px;
  margin-left: 85px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  animation: crawl 5s infinite 1s       alternate ease-in-out;
}
.crabs .crabeyes {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 70px;
  top: -15px;
}
.crabs .eye {
  border: solid 2px grey;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: white;
  margin: 15px;
  position: absolute;
  top: -4%;
  left: -50%;
  animation: eye 3s infinite 1s alternate ease-in-out;
}
.crabs .eye:first-of-type {
  left: 80%;
}
.crabs .eye .pupil {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
}
.crabs .mouth {
  border: 2px solid orange;
  margin-top: 30px;
  width: 30px;
  height: 20px;
  background: black;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  animation: mouth 1s infinite 1s alternate ease-in-out;
}
.crabs .bottomclawl {
  background: tomato;
  background: -webkit-linear-gradient(tomato, orange);
  background: -o-linear-gradient(tomato, orange);
  background: -moz-linear-gradient(tomato, orange);
  background: linear-gradient(tomato, orange);
  overflow: hidden;
  display: block;
  top: 12px;
  left: 210px;
  position: absolute;
  width: 70px;
  height: 28px;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(-45deg);
}
.crabs .legs {
  z-index: -100;
}
.crabs .topclawl {
  border: 2px solid orange;
  background: tomato;
  position: absolute;
  left: 195px;
  width: 60px;
  height: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(-45deg);
  animation: clawl 1s infinite alternate ease-in-out;
}
.crabs .topclawr {
  border: 2px solid orange;
  background: tomato;
  position: absolute;
  left: -53px;
  width: 60px;
  height: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(-45deg);
  animation: clawr 1s infinite alternate ease-in-out;
}
.crabs .bottomclawr {
  background: tomato;
  background: -webkit-linear-gradient(tomato, orange);
  background: -o-linear-gradient(tomato, orange);
  background: -moz-linear-gradient(tomato, orange);
  background: linear-gradient(tomato, orange);
  overflow: hidden;
  display: block;
  top: 12px;
  left: -75px;
  position: absolute;
  width: 70px;
  height: 28px;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg);
}
.crabs .left-leg1 {
  position: absolute;
  top: 80px;
  left: 12px;
  z-index: -10;
  width: 0;
  height: 0;
  border-top: 40px solid tomato;
  border-right: 25px solid transparent;
  animation: leftlegs .5s infinite 1s           alternate ease-in-out;
}
.crabs .left-leg2 {
  position: absolute;
  top: 85px;
  z-index: -10;
  left: 25px;
  width: 0;
  height: 0;
  border-top: 40px solid tomato;
  border-right: 25px solid transparent;
  animation: leftlegs .75s infinite            alternate ease-in-out;
}
.crabs .right-leg1 {
  position: absolute;
  top: 85px;
  left: 145px;
  z-index: -10;
  width: 0;
  height: 0;
  border-top: 40px solid tomato;
  border-left: 25px solid transparent;
  animation: rightlegs .5s infinite 1s           alternate ease-in-out;
}
.crabs .right-leg2 {
  position: absolute;
  top: 80px;
  left: 160px;
  z-index: -10;
  width: 0;
  height: 0;
  border-top: 40px solid tomato;
  border-left: 25px solid transparent;
  animation: rightlegs .75s infinite            alternate ease-in-out;
}

.football-contain img {
  position: absolute;
  bottom: 30%;
  right: 30%;
  width: 5%;
  animation: toss 2s forwards;
}

@keyframes toss {
  0% {
    right: 30%;
  }
  100% {
    right: 50%;
    width: 20%;
  }
}
.glove-contain .glove {
  width: 150px;
  position: absolute;
  left: -100%;
  top: 45%;
  /*   transform: translate(90%,-55%) */
  animation: mitt 3.37s 1;
}
.glove-contain .ball {
  position: absolute;
  width: 80px;
  height: 80px;
  left: -100%;
  top: 45%;
  /*   transform: translate(90%) */
  animation: ball 3.575s 1;
}
@keyframes mitt {
  0% {
    left: 110%;
    top: 45%;
  }
  50% {
    left: 56%;
    top: 45%;
  }
  100% {
    left: 110%;
    top: 45%;
  }
}
@keyframes ball {
  0% {
    left: -100%;
    top: 45%;
  }
  100% {
    left: 109%;
    top: 45%;
  }
}
@keyframes steam {
  0% {
    opacity: .309;
    transform: skew(-5deg);
  }
  20% {
    opacity: .1;
    transform: skew(10deg);
    transform: translate(25px);
  }
  40% {
    opacity: .1;
    transform: skew(-10deg);
  }
  50% {
    transform: translate(0 10px);
  }
  60% {
    opacity: .1;
    transform: skew(-20deg);
  }
  80% {
    opacity: .4;
    transform: skew(-10deg);
    transform: translate(-25px);
  }
  100% {
    opacity: .1;
    transform: skew(10deg);
    transform: translate(-5px);
  }
}
.steak {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  pointer-events: none;
}
.steak .meat {
  margin-top: 300px;
  margin-left: 400px;
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 40% 20% 30% 90%;
  background: #4f3324;
  background: -webkit-linear-gradient(#4f3324, #472817);
  background: -o-linear-gradient(#4f3324, #472817);
  background: -moz-linear-gradient(#4f3324, #472817);
  background: linear-gradient(#4f3324, #472817);
}
.steak .top {
  position: absolute;
  border-radius: 20% 20% 20% 70%;
  left: 7%;
  top: 4%;
  height: 60%;
  width: 90%;
  background: #7c5540;
  background: -webkit-linear-gradient(#7c5540, #754024);
  background: -o-linear-gradient(#7c5540, #754024);
  background: -moz-linear-gradient(#7c5540, #754024);
  background: linear-gradient(#7c5540, #754024);
}
.steak .line1 {
  position: absolute;
  top: 30%;
  left: 70%;
  height: 10%;
  width: 30%;
  transform: rotate(55deg);
}
.steak .line2 {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 10%;
  width: 40%;
  transform: rotate(55deg);
}
.steak .line3 {
  position: absolute;
  top: 40%;
  left: 30%;
  height: 10%;
  width: 40%;
  transform: rotate(55deg);
}
.steak .line4 {
  position: absolute;
  top: 35%;
  left: 15%;
  height: 10%;
  width: 30%;
  transform: rotate(55deg);
}
.steak .line5 {
  position: absolute;
  top: 35%;
  left: 1%;
  height: 10%;
  width: 20%;
  transform: rotate(55deg);
}
.steak .line {
  border-radius: 30%;
  background: #3d312b;
}
.steak .steam {
  position: absolute;
  width: 1.2%;
  height: 90%;
  bottom: 70%;
  border-radius: 30%;
  background: #444;
  opacity: .4;
  z-index: 5;
  animation: steam 6s infinite;
  top: -20%;
  margin-left: 30%;
}
.steak .steam1 {
  left: 50%;
}
.steak .steam2 {
  left: 42%;
}
.steak .steam3 {
  left: 33%;
}

.beer {
  position: absolute;
  width: 250px;
  animation: swing 1s ease infinite;
  animation: fly-beer 5s ease infinite;
}

@keyframes fly-beer {
  0% {
    left: -10%;
    top: 45%;
    transform: translate(90%, -55%);
    transform: rotate(45deg);
  }
  25% {
    left: 88%;
    top: 45%;
    transform: translate(90%, -55%);
    transform: rotate(-45deg);
  }
  50% {
    left: 1%;
    top: 45%;
    transform: translate(90%, -55%);
    transform: rotate(45deg);
  }
  100% {
    left: 110%;
    top: 45%;
    transform: translate(90%, -55%);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes rake {
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    transform: rotate(-30deg);
  }
  5%, 15%, 25%, 35%, 45%, 60%, 65%, 70%, 75%, 80%, 85% {
    transform: translate(-20%);
  }
  20%, 40%, 60%, 80%, 100% {
    transform: translate(-100%);
  }
}
@keyframes leaves {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(-200%);
  }
}
.rake-contain {
  position: absolute;
  bottom: 15%;
  right: 0;
}
.rake-contain .rake {
  margin-left: 500px;
  width: 30%;
  transform: rotateX(180deg);
  animation: rake 6s infinite;
}
.rake-contain .leaves {
  margin-left: -350px;
  animation: leaves 6s infinite;
}

@keyframes grassy {
  0% {
    top: 400px;
    left: 4%;
  }
  100% {
    top: 400px;
    left: 150%;
  }
}
@keyframes lawn-mower {
  0% {
    top: 200px;
    left: -10%;
  }
  100% {
    top: 200px;
    left: 150%;
  }
}
.mow-contain {
  position: absolute;
  width: 100%;
  bottom: 50%;
}
.mow-contain .grass {
  position: absolute;
  width: 800px;
  top: 400px;
  left: -30%;
  transform: translate(-50%, -50%);
  animation: grassy 6s ease infinite;
}
.mow-contain .mower {
  width: 300px;
  position: absolute;
  top: 180px;
  left: -10%;
  animation: lawn-mower 6s ease infinite;
}

#hero {
  position: absolute;
  animation: fly 5s forwards;
  bottom: 10%;
}

@keyframes fly {
  0% {
    left: -500px;
  }
  100% {
    left: 100%;
    bottom: 60%;
  }
}
@keyframes fanny {
  0% {
    transform: scale(0.3);
  }
  20% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(-360deg);
  }
}
.fanny {
  position: absolute;
  right: 0;
}
.fanny .fannypack {
  animation: fanny 6s infinite;
}

.bbq-contain {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bbq-contain .bbq {
  width: 275px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: -10%;
  animation: bbq 4s ease-in infinite;
}
.bbq-contain .steak-bbq {
  width: 150px;
  right: -10%;
  animation: steak 2s ease-in infinite;
  position: absolute;
}
.bbq-contain .dog {
  width: 150px;
  position: absolute;
  left: -10%;
  animation: dog 3s ease-in infinite;
}
.bbq-contain .burg {
  width: 150px;
  position: absolute;
  top: 50%;
  right: -10%;
  animation: burg 3s ease-in infinite;
}
.bbq-contain .bacon {
  width: 150px;
  position: absolute;
  top: 15%;
  left: -10%;
  animation: bacon 3s ease-in infinite;
}

@keyframes bbq {
  0% {
    top: 50%;
    transform: translate(-50%, -50%);
    left: -10%;
  }
  20% {
    top: 30%;
    left: 20%;
    transform: rotate(180deg);
  }
  40% {
    top: 70%;
    left: 40%;
    transform: rotate(-180deg);
  }
  60% {
    top: 30%;
    left: 60%;
    transform: rotate(90deg);
  }
  80% {
    top: 70%;
    left: 80%;
    transform: rotate(-180deg);
  }
  100% {
    top: 50%;
    left: 110%;
    transform: rotate(360deg);
  }
}
@keyframes steak {
  0% {
    top: 45%;
    transform: translate(-50%, -50%);
    right: -100%;
    transform: rotate(100deg);
  }
  20% {
    top: 45%;
    right: 20%;
    transform: rotate(100deg);
  }
  40% {
    top: 45%;
    right: 40%;
    transform: rotate(-100deg);
  }
  60% {
    top: 45%;
    right: 60%;
    transform: rotate(100deg);
  }
  80% {
    top: 45%;
    right: 80%;
    transform: rotate(-100deg);
  }
  100% {
    top: 45%;
    right: 110%;
    transform: rotate(100deg);
  }
}
@keyframes dog {
  0% {
    top: 30%;
    transform: translate(-50%, -50%);
    left: -100%;
    transform: rotate(100deg);
  }
  20% {
    top: 25%;
    left: 20%;
    transform: rotate(180deg);
  }
  40% {
    top: 30%;
    left: 40%;
    transform: rotate(-180deg);
  }
  60% {
    top: 25%;
    left: 60%;
    transform: rotate(180deg);
  }
  80% {
    top: 30%;
    left: 80%;
    transform: rotate(-180deg);
  }
  100% {
    top: 25%;
    left: 110%;
    transform: rotate(180deg);
  }
}
@keyframes burg {
  0% {
    top: 55%;
    right: -10%;
  }
  100% {
    top: 55%;
    right: 110%;
    transform: rotate(360deg);
  }
}
@keyframes bacon {
  0% {
    top: 15%;
    left: -10%;
  }
  100% {
    top: 15%;
    left: 110%;
    transform: rotate(360deg);
  }
}
body {
  overflow: hidden;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
  font-family: 'Pangolin', cursive;
}

h1 {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  white-space: pre;
  pointer-events: none;
}

.tp-sheet {
  width: 48%;
  height: 140px;
  border-radius: 5px;
  background: white;
  z-index: 1;
  position: absolute;
  top: 87%;
  left: 28%;
  z-index: -50;
}

#moose {
  position: absolute;
  width: 160px;
  height: auto;
  top: 44%;
  left: 49%;
  transform: translate(-51%, -56%);
  animation: moose-30 30s 2s infinite;
}

#moose:hover {
  animation: moose-hover .4s ease-in;
}

@keyframes moose-hover {
  0%, 100% {
    transform: translate(-51%, -56%);
  }
  25%, 75% {
    transform: translate(-51%, -56%) rotate(10deg);
  }
  50% {
    transform: translate(-51%, -56%) rotate(-10deg);
  }
}
@keyframes moose-30 {
  0%, 5%, 100% {
    transform: translate(-51%, -56%);
  }
  1.25%, 3.75% {
    transform: translate(-51%, -56%) rotate(10deg);
  }
  2.5% {
    transform: translate(-51%, -56%) rotate(-10deg);
  }
}
[class*='animation'] {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
