*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50.5%;
  transform: translate(-49.5%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.head img {
  flex: 1;
  width: 400px;
  height: auto;
}
.head .headtop {
  margin-top: -41%;
  z-index: -1;
  transform-origin: 22%;
  transform: translateX(-1.59px);
}
.head img:last-child {
  margin-top: -41%;
  z-index: -2;
}

.head-animation {
  animation: headopen 3s forwards;
}

@keyframes headopen {
  0%, 100% {
    transform: translateX(-1.59px);
  }
  50% {
    transform: translate(-16.3%, 2%) rotate(-45deg);
  }
}
[class*="joke"] {
  display: none;
  position: absolute;
  top: 90.8%;
  left: 28.5%;
  transform: translateY(-19.2%);
  color: tomato;
  padding: 22px 15px;
  padding-left: 30px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  border: 3px solid black;
  overflow: hidden;
  z-index: -100;
  width: 44%;
  text-align: center;
  background-repeat: repeat;
  background-image: url(../img/dotted-line2.png);
  background-size: 100px 40px;
}

@keyframes mou {
  0% {
    left: -300%;
    transform: rotate(45deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(25deg);
  }
  20%, 40%, 60%, 80% {
    transform: rotate(45deg);
  }
  100% {
    left: 400%;
    transform: rotate(45deg);
  }
}
@keyframes stashe {
  0% {
    left: -352.5%;
    transform: rotate(-45deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(-25deg);
  }
  20%, 40%, 60%, 80% {
    transform: rotate(-45deg);
  }
  100% {
    left: 347.5%;
    transform: rotate(-45deg);
  }
}
.moustache {
  display: none;
  top: 82%;
  left: -190px;
  position: absolute;
  width: 150px;
  margin: 100px auto;
}

.mou, .stache, .mou:before, .stache:before {
  background: #2f3245;
  display: block;
  height: 50px;
  width: 75px;
}

.mou:before, .mou:after, .stache:before, .stache:after {
  content: "\0020";
  position: absolute;
  height: 40px;
  width: 50px;
}

.mou {
  position: absolute;
  left: 80px;
  border-top-left-radius: 170px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 12px;
  transform: rotate(45deg);
  z-index: 5;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  animation: mou 2.5s ease-in 2 alternate 1s;
}

.mou:before {
  left: 25px;
  top: -40px;
  z-index: 0;
}

.mou:after {
  background: white;
  border-bottom-right-radius: 50px;
  left: 24px;
  top: -50px;
  z-index: 10;
  height: 51px;
  width: 51px;
}

.stache {
  position: absolute;
  border-top-right-radius: 170px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 200px;
  transform: rotate(-45deg);
  z-index: 15;
  left: 0;
  box-shadow: -5px 5px 25px rgba(0, 0, 0, 0.2);
  animation: stashe 2.5s ease-in 2 alternate 1s;
}

.stache:before {
  left: 0;
  top: -40px;
  z-index: 10;
}

.stache:after {
  background: white;
  border-bottom-left-radius: 50px;
  left: 0;
  top: -50px;
  z-index: 20;
  height: 51px;
  width: 51px;
}

@keyframes dance {
  0% {
    height: 200px;
    width: 300px;
  }
  100% {
    height: 210px;
    width: 330px;
  }
}
.hamburger {
  height: 200px;
  width: 300px;
  animation: dance 1s infinite 1s alternate ease-in-out;
  position: absolute;
  top: 72.8%;
  left: 50%;
  transform: translate(-50%, -27.2%);
}

.top-bun {
  position: absolute;
  left: 35%;
  height: 40px;
  width: 30%;
  top: 25%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background: #f7b243;
  z-index: 100;
}

.fillings {
  position: relative;
  left: 35%;
  height: 20%;
  width: 30%;
  top: 30%;
}

.bottom-bun {
  position: absolute;
  left: 35%;
  height: 27px;
  width: 30%;
  bottom: 20%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: #f7b243;
}

.tomato {
  position: absolute;
  bottom: -20%;
  height: 23%;
  width: 110%;
  left: -5%;
  background: #ff5233;
  border-radius: 50px;
}

.lettuce {
  position: absolute;
  width: 100%;
  height: 15%;
  background: #63AF44;
  bottom: -35%;
}

.meat {
  position: absolute;
  height: 33%;
  width: 110%;
  left: -5%;
  bottom: -63%;
  background: #663E2F;
  border-radius: 50px;
}

.cheese {
  position: absolute;
  width: 100%;
  height: 8%;
  background: #F5DF3B;
  bottom: -36%;
  z-index: 2;
  border-radius: 50px;
}

.cheese-triangle {
  -webkit-clip-path: polygon(71% 0, 0% 100%, 100% 100%);
  clip-path: polygon(71% 0, 0% 100%, 100% 100%);
  position: absolute;
  bottom: -100%;
  height: 290%;
  width: 20%;
  right: 0%;
  transform: rotate(37deg);
  background: #F5DF3B;
  border-radius: 5px;
}

.meat-overlay {
  position: absolute;
  width: 100%;
  height: 45%;
  background: #795446;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  top: 0%;
}

.meat-circle-1 {
  position: absolute;
  height: 75%;
  top: 5%;
  width: 35%;
  background: #795446;
  border-radius: 50%;
  left: 2%;
}

.meat-circle-2 {
  position: absolute;
  height: 75%;
  top: 5%;
  width: 30%;
  background: #795446;
  border-radius: 50%;
  left: 35%;
}

.meat-circle-3 {
  position: absolute;
  height: 73%;
  top: 5%;
  width: 35%;
  background: #795446;
  border-radius: 50%;
  left: 65%;
}

[class*="seed"] {
  position: absolute;
  height: 8%;
  width: 8%;
  background: white;
  border-radius: 45%;
  opacity: 0.3;
  transform: rotate(10deg);
}

.seed-1 {
  top: 25%;
  right: 25%;
}

.seed-2 {
  top: 45%;
  right: 35%;
  transform: rotate(30deg);
}

.seed-3 {
  top: 25%;
  right: 45%;
  z-index: 9000;
  transition: top 1s cubic-bezier(1, 0.45, 0.56, 1.12);
}

.seed-4 {
  top: 75%;
  right: 23%;
  transform: rotate(25deg);
}

.seed-5 {
  top: 60%;
  right: 10%;
  transition: top 1s cubic-bezier(1, 0.45, 0.56, 1.12);
}

.seed-6 {
  top: 25%;
  left: 25%;
  transform: rotate(20deg);
}

.seed-7 {
  top: 45%;
  left: 35%;
}

.seed-8 {
  top: 75%;
  left: 25%;
  transition: top 1s cubic-bezier(1, 0.45, 0.56, 1.12);
}

.seed-9 {
  top: 60%;
  left: 10%;
  transform: rotate(35deg);
}

.seed-10 {
  top: 60%;
  left: 50%;
}

.unclickable {
  animation: none;
  position: absolute;
  pointer-events: none;
}
.unclickable .top-bun {
  height: 30px;
  width: 100px;
  top: 35%;
  left: 33%;
}
.unclickable .fillings {
  height: 15%;
  width: 35%;
  top: 37%;
  left: 32.5%;
}
.unclickable .fillings .cheese-triangle {
  bottom: -250%;
  height: 500%;
  width: 30%;
  right: -5%;
  transform: rotate(27deg);
  border-radius: 5px;
}
.unclickable .bottom-bun {
  height: 22px;
  width: 100px;
  left: 33%;
  top: 62.9%;
}

@keyframes roll-animation {
  0% {
    left: 50%;
    top: 25%;
    transform: translate(-50%, -75%) rotate(45deg);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  15% {
    left: 70%;
    top: 15%;
    transform: translate(-30%, -85%) rotate(90deg);
  }
  30% {
    left: 90%;
    top: 30%;
    transform: translate(-10%, -70%) rotate(125deg);
  }
  90% {
    left: 20%;
    top: 89%;
    transform: translate(-80%, -21%) rotate(-450deg);
  }
  95% {
    left: 24%;
    top: 87%;
    transform: translate(-76%, -23%) rotate(-405deg);
  }
  100% {
    left: 28%;
    top: 89%;
    transform: translate(-72%, -21%);
    opacity: 1;
  }
}
.roll-img {
  background-color: white;
  width: 100px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -80%) rotate(45deg);
  z-index: -3;
  opacity: 0;
}

.tp-animation {
  animation: roll-animation 4s ease-out 1 forwards;
  z-index: 100;
}

#catContain {
  display: none;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translateX(-50%);
  animation: move 5s;
}

#catHead {
  width: 220px;
  height: 220px;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  top: 10%;
  background: -webkit-radial-gradient(white, #D08C4B, white);
  /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, #D08C4B, white);
  /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, #D08C4B, white);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, #D08C4B, white);
  /* Standard syntax */
}

.ear {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 60px solid #5E523B;
  border-radius: 10px;
  position: absolute;
  top: -10px;
}

#ear1 {
  left: -10%;
  transform: rotate(-40deg);
}

#ear2 {
  left: 64%;
  transform: rotate(40deg);
  border-bottom: 60px solid black;
}

.eye {
  width: 70px;
  height: 60px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 100%;
  position: absolute;
  top: 60px;
  background: -webkit-radial-gradient(white, white, gray);
  /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, white, gray);
  /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, white, gray);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, white, gray);
  /* Standard syntax */
}

#catEye1 {
  left: 30px;
}

.pupil {
  border-radius: 100px;
  width: 0;
  height: 20px;
  border-left: .1px solid black;
  border-right: .1px solid black;
  position: absolute;
  top: 20px;
  left: 30px;
}

#catEye2 {
  right: 30px;
}

#nose {
  width: 0;
  height: 0;
  border-top: 30px solid pink;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-radius: 10px;
  position: absolute;
  top: 150px;
  left: 85px;
  color: black;
}

.nostril {
  position: absolute;
  border-radius: 100px;
  border-top: 2px solid #F92886;
  width: 10px;
  height: 10px;
  top: -20px;
}

#nostril1 {
  left: -15px;
  transform: rotate(45deg);
}

#nostril2 {
  left: 5px;
  transform: rotate(-45deg);
}

#mouth {
  width: 50px;
  height: 20px;
  position: absolute;
  background-color: white;
  border-radius: 100px;
  top: 187px;
  left: 70px;
}

#vomit {
  width: 45px;
  height: 10px;
  position: absolute;
  top: 175px;
  left: 72.5px;
  z-index: -1;
  background: -webkit-linear-gradient(#15a436, #94F1A9);
  /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#15a436, #94F1A9);
  /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(#15a436, #94F1A9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#15a436, #94F1A9);
  /* Standard syntax */
  transition: all 2s;
  animation: puke 1s 1.5s alternate 2;
  border-radius: 5px;
}

@keyframes move {
  0%, 100% {
    left: 40%;
    top: -30%;
    transform: translate(-60%, 70%);
  }
  30%, 70% {
    left: 40%;
    top: 40%;
    transform: translate(-60%, -60%);
  }
}
@keyframes puke {
  0% {
    height: 20px;
    z-index: 2;
    top: 190px;
  }
  100% {
    height: 500px;
    z-index: 2;
    top: 190px;
  }
}
body {
  overflow: hidden;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
  font-family: 'Pangolin', cursive;
}

h1 {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  white-space: pre;
  pointer-events: none;
}

.tp-sheet {
  width: 45%;
  height: 140px;
  border-radius: 5px;
  background: white;
  z-index: 1;
  position: absolute;
  top: 87%;
  left: 28%;
  z-index: -50;
}

#moose {
  position: absolute;
  width: 160px;
  height: auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
}

@keyframes moose-hover {
  0%, 100% {
    transform: translate(-50%, -59%);
  }
  25%, 75% {
    transform: translate(-50%, -59%) rotate(10deg);
  }
  50% {
    transform: translate(-50%, -59%) rotate(-10deg);
  }
}
@keyframes moose-30 {
  0%, 5%, 100% {
    transform: translate(-50%, -59%);
  }
  1.25%, 3.75% {
    transform: translate(-50%, -59%) rotate(10deg);
  }
  2.5% {
    transform: translate(-50%, -59%) rotate(-10deg);
  }
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
