// vendors
@import
  'vendors/bourbon/bourbon';

// abstracts
@import
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/placeholders',
  'abstracts/variables';

// base
@import
  'base/reset',
  'base/typography';

// components
@import
  'components/head',
  'components/jokes',
  'components/moustache',
  'components/buttons',
  'components/toilet-paper',
  'components/cat';

// layout
@import
  'layout/header',
  'layout/body',
  'layout/container';

h1 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 100%;
  text-align: center;
  white-space: pre;
  pointer-events: none;
}
