body {
  overflow: hidden;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
  font-family: 'Pangolin', cursive;
}

h1 {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  white-space: pre;
  pointer-events: none;
}

.tp-sheet {
  width: 45%;
  height: 140px;
  border-radius: 5px;
  background: white;
  z-index: 1;
  position: absolute;
  top: 87%;
  left: 28%;
  z-index: -50;
}

#moose {
  position: absolute;
  width: 160px;
  height: auto;
  top: 44%;
  left: 50%;
  transform: translate(-50%,-56%);
  animation: moose-30 30s 2s infinite;
}

#moose:hover {
  animation: moose-hover .4s ease-in;
}

@keyframes moose-hover {
  0%, 100% {
    transform: translate(-50%,-56%);
  }
  25%, 75% {
    transform: translate(-50%,-56%) rotate(10deg);
  }
  50% {
    transform: translate(-50%,-56%) rotate(-10deg);
  }
}

@keyframes moose-30 {
  0%, 5%, 100% {
    transform: translate(-50%,-56%);
  }
  1.25%, 3.75% {
    transform: translate(-50%,-56%) rotate(10deg);
  }
  2.5% {
    transform: translate(-50%,-56%) rotate(-10deg);
  }
}

[class*='animation'] {
  display: none;
}
