.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

// @include respond-to ('big-change') {
//   opacity: 0;
// };
// @include respond-to ('big-change2') {
//   opacity: 0;
// };
