@keyframes spill {
  0%{
    transform: rotate(0deg);
  }
  40%{
    transform: rotate(-90deg);
  }
  100%{
    transform: rotate(-90deg);
  }
}

@keyframes coffee{
  0%{
    width: 0%;
  }
  50%{
    width: 0%;
  }
  100%{
    width: 300px;
  }
}

@keyframes coffeedrool {
  0%{
    width: 0%;
  }
  70%{
    width: 0%;
  }
  90%{
    width: 6%;
  }
  100%{
    width: 6%;
  }
}


.coffeespill {
  .mug {
    top: 57%;
    left: 41%;
    position: absolute;
    background: #dce0e8;
    width: 200px;
    height: 190px;
    transform: translate(-59%, -43%);
    animation: spill 5s forwards;
    h1 {
      position: absolute;
      top: 85px;
      left: 85px;
      font-family: impact;
      font-size: 3em;
    }
  }

  .bottom {
    z-index: 100;
    top: 165px;
    position: absolute;
    background: #dce0e8;
    border-radius: 50%;
    width: 200px;
    height: 45px;
  }

  .top {
    top: -20px;
    position: absolute;
    background: #dce0e8;
    border-radius: 50%;
    width: 200px;
    height: 45px;
  }

  .coffeedrool {
    top: 34%;
    left: 5%;
    position: absolute;
    border-bottom-left-radius: 50%;
    background: #775b47;
    height: 8px;
    width: 13px;
    transform-origin: 0%;
    transform: rotate(180deg);
    animation: coffeedrool 3s ease-out forwards;
  }


  .tophole {
    position: absolute;
    width: 180px;
    height: 45px;
    top: 3px;
    left: 10px;
    border-radius: 50%;
    background: #dce0e8;
    background: -webkit-linear-gradient(#dce0e8, darkgray);
    background: -o-linear-gradient(#dce0e8, darkgray);
    background: -moz-linear-gradient(#dce0e8, darkgray);
    background: linear-gradient(#dce0e8, darkgray);
  }
  .handle {
    position: absolute;
    top: 40px;
    left: 190px;
    background: #dce0e8;
    width: 65px;
    height: 110px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .handlehole {
    position: absolute;
    background: white;
    top: 25px;
    left: 10px;
    width: 30px;
    height: 60px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .coffee {
    background: #513f33;
    background: -webkit-linear-gradient(#775b47, #513f33);
    background: -o-linear-gradient(#775b47, #513f33);
    background: -moz-linear-gradient(#775b47, #513f33);
    background: linear-gradient(#775b47, #513f33);
    border-radius: 50%;
    height: 30px;
    width: 0px;
    left: 41%;
    top: 74%;
    animation: coffee 3s forwards;
    animation-delay: 1s;
    transform-origin: 0%;
    transform: translate(-59%, -26%);
    position: absolute;
    z-index: -1;
  }
}
