.head  {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 45%;
  left: 50.5%;
  transform: translate(-49.5%, -55%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  img {
    flex: 1;
    width: 400px;
    height: auto;
  }
  .headtop {
    margin-top: -41%;
    z-index: -1;
    transform-origin: 22%;
    transform: translateX(-1.59px);
  }
  img:last-child {
    margin-top: -41%;
    z-index: -2;
  }
}

.head-animation {
  animation: headopen 3s forwards;
}

@keyframes headopen {
  0%, 100% {
    transform: translateX(-1.59px);
  }
  50% {
    transform: translate(-16.3%, 2%) rotate(-45deg);
  }
}
