@keyframes mou {
  0% {
    left: -300%;
    transform: rotate(45deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(25deg);
  }
  20%, 40%, 60%, 80% {
    transform: rotate(45deg);
  }
  100%{
    left: 400%;
    transform: rotate(45deg);
  }
}

@keyframes stashe {
  0% {
    left: -352.5%;
    transform: rotate(-45deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(-25deg);
  }
  20%, 40%, 60%, 80% {
    transform: rotate(-45deg);
  }
  100%{
    left: 347.5%;
    transform: rotate(-45deg);
  }
}

$light: white;
$dark: #2f3245;
.moustache{
  top: 72%;
  left: -190px;
  position: absolute;
  width: 150px;
  margin: 100px auto;
}
.mou, .stache, .mou:before, .stache:before{
  background: $dark;
  display: block;
  height: 50px;
  width: 75px;
}
.mou:before, .mou:after, .stache:before, .stache:after{
  content: "\0020";
  position: absolute;
  height: 40px;
  width: 50px;
}
.mou{
  position: absolute;
  left: 80px;
  border-top-left-radius: 170px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 12px;
  transform: rotate(45deg);
  z-index: 5;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  animation: mou 2.5s ease-in 2 alternate 1s;
}
.mou:before{
  left: 25px;
  top: -40px;
  z-index: 0;
}
.mou:after{
  background: $light;
  border-bottom-right-radius: 50px;
  left: 24px;
  top: -50px;
  z-index: 10;
  height: 51px;
  width: 51px;
}
.stache{
  position: absolute;
  border-top-right-radius: 170px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 200px;
  transform: rotate(-45deg);
  z-index: 15;
  left: 0;
  box-shadow: -5px 5px 25px rgba(0, 0, 0, 0.2);
  animation: stashe 2.5s ease-in 2 alternate 1s;
}
.stache:before{
  left: 0;
  top: -40px;
  z-index: 10;
}
.stache:after{
  background: $light;
  border-bottom-left-radius: 50px;
  left: 0;
  top: -50px;
  z-index: 20;
  height: 51px;
  width: 51px;
}
