.tieContain {
  position: absolute;
  top: 54%;
  left: 45%;
  transform: translate(-55%, -46%);
  #knot {
    position: absolute;
    border-bottom: 50px solid blue;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    transform: rotate(180deg);
  }

  #neck {
    position: absolute;
    top: 45px;
    border-bottom: 200px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    animation: grow 2s;
    z-index: -1;
  }

  #diamond {
    content: '';
    position: absolute;
    top: 245px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: red;
    animation: withTie 2s;
  }
}


@keyframes grow {
  100% {border-bottom: 300px solid red;}
}
@keyframes withTie {
  100% {top: 345px;}
}
