@keyframes roll-animation{
  0% {
    left: 50%;
    top: 25%;
    transform: translate(-50%, -75%) rotate(45deg);
    opacity: 0;
   }
  1% {
    opacity: 1;
  }
  15% {
    left: 70%;
    top: 15%;
    transform: translate(-30%, -85%) rotate(90deg);
   }
  30%{
    left: 90%;
    top: 30%;
    transform: translate(-10%, -70%) rotate(125deg);
   }
  90% {
    left: 20%;
    top: 89%;
    transform: translate(-80%, -21%) rotate(-450deg);
   }
  95% {
    left: 24%;
    top: 87%;
    transform: translate(-76%, -23%) rotate(-405deg);
  }
  100% {
    left: 28%;
    top: 89%;
    transform: translate(-72%, -21%);
    opacity: 1;
  }
}

.roll-img {
  // background-color: white;
  width: 100px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -80%) rotate(45deg);
  z-index: -3;
  opacity: 0;
}

.tp-activate {
  animation: roll-animation 4s ease-out 1 forwards;
  z-index: 100;
}
